<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A zoom clone project for rous epistola's portfolio">
    <title>ZOOMIE</title>
    
    <script async>
    
        const ROOM_ID = "<% roomId %>"
    
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id="video-grid">

    </div>


    <script src="script.js"></script>
</body>
</html>